<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item>
  <ion-thumbnail slot="start">
  <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/u9QD9ddSVeYJABMSqBwfqe0NmsJ.jpg" alt="">
  </ion-thumbnail>
  <ion-label>
    <div>
      <h1>Redenção (2011) </h1>
      <p>23/09/2011 (BR) </p>
      <p>duração - 2h 9m </p>
      <p>Ação, Thriller, Crime </p>

    </div>
  </ion-label>
  <ion-chip color="success" outline>
 <ion-label>76%</ion-label>
  </ion-chip>

    </ion-item>
  </ion-list>

</ion-content>
